@page "/eliminaru/{id:int}"
@inject ICUsuarios CUsuarios
@inject NavigationManager NavigationManager

<PageTitle>Eliminar</PageTitle>

<h1>Eliminar Usuario</h1>
<p>¿Seguro que quieres eliminar este usuario?</p>
<EditForm Model="@usuario">
    <table class="table">
        <tr>
            <td>Usuario:</td>
            <td><input class="form-control col-sm-4" type="text" @bind="usuario.Usuario1" /></td>
        </tr>
        <tr>
            <td>Correo:</td>
            <td><input class="form-control col-sm-4" type="text" @bind="usuario.Correo" /></td>
        </tr>
        <tr>
            <td>Contraseña:</td>
            <td><input class="form-control col-sm-4" type="text" @bind="usuario.Clave" /></td>
        </tr>
        <tr>
            <td>Rol:</td>
            <td><input class="form-control col-sm-4" type="text" @bind="usuario.Trol" /></td>
        </tr>
        <tr>
            <td>Nombre:</td>
            <td><input class="form-control col-sm-4" type="text" @bind="usuario.Nombre" /></td>
        </tr>
        <tr>
            <td>Apellido Paterno:</td>
            <td><input class="form-control col-sm-4" type="text" @bind="usuario.ApellidoP" /></td>
        </tr>
        <tr>
            <td>Apellido Materno:</td>
            <td><input class="form-control col-sm-4" type="text" @bind="usuario.ApellidoP" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="OK" @onclick="Delete" />
                <input type="button" value="Cancelar" @onclick="Cancelar" />
            </td>
        </tr>
    </table>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }
    private Usuario usuario = new Usuario();
    protected override async Task OnInitializedAsync()
    {
        usuario = await CUsuarios.GetUsuarioDetails(id);
    }
    protected async Task Delete()
    {
        await CUsuarios.DeleteUsuario(id);
        NavigationManager.NavigateTo("/usuarios");
    }
    protected void Cancelar()
    {
        NavigationManager.NavigateTo("/usuarios");
    }
}
