@inherits LayoutComponentBase

<PageTitle>PetShop</PageTitle>

<div class="page">
    <div style="background-image:none;background: linear-gradient(45deg, greenyellow, dodgerblue);" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/ingresar" target="_self">SALIR</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
